.category-wrapper {
  max-width: 90%;
  width: 365px;
  margin-top: 5px;
  border-radius: 15px;
  overflow: hidden;
  user-select: none;
  h4 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid hsl(0, 0%, 93%);
    font-style: italic;
    &:hover {
      cursor: pointer;
    }
  }
}
.category {
  display: block;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: rgb(43 52 69 /10%) 0 4px 16px;
  border: 1px solid;
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: var(--border-radius-md);
}
.showCategories:checked ~ .category {
  display: none;
}
.category img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.category span {
  margin: 10px 20px;
  text-transform: capitalize;
}
.category .box {
  transition: 0.5s;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}
.category .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}
