.filter {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 12px 22px;
  border-radius: 2px;
  font-size: 1.4rem;
}
.filter-label {
  font-size: 1.4rem;
  margin-right: 10px;
  width: 90px;
}
.filter-btn {
  padding: 10px 20px;
  margin-right: 12px;
  background-color: white;
}
.select-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  background-color: white;
}
.select-input:hover .select-input-list {
  display: block;
  z-index: 10;
}
.select-input-list {
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  background-color: white;
  padding: 12px 12px;
  border-radius: 2px;
  display: none;
}
.select-input-link {
  font-size: 1.4rem;
  display: block;
  padding: 8px 0;
  width: 100%;
  &:hover {
    color: aquamarine;
  }
}
.filter-page {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.page-num {
  font-size: 1.6rem;
  text-align: center;
}
.page-control {
  display: flex;
  border-radius: 3px;
  width: 120px;
  height: 34px;
}
.page-button:first-child {
  border-right: 1px solid #eee;
}
.page-button {
  flex: 1;
  display: flex;

  background-color: white;
  svg {
    margin: auto;
  }
}
.products {
  display: grid;
  justify-content: center;
}
@media (min-width: 500px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 600px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .products {
    grid-template-columns: repeat(4, 1fr);
  }
}
