.category-wrapper {
  max-width: 90%;
  width: 23%;
  box-shadow: rgb(43 52 69 /10%) 0 4px 16px;
  border-radius: 5px;
  margin-top: 5px;
  border-radius: 15px;
  overflow: hidden;
  h4 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      cursor: pointer;
    }
  }
}
.category {
  padding: 10px 0;
  display: none;
}

.showCategories:checked ~ .category {
  display: block;
}
.category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}
.category span {
  margin: 10px 20px;
  text-transform: capitalize;
}
.category .box {
  transition: 0.5s;
  padding: 0 20px;
}
.category .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}
