.wrapper-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories {
  display: flex;
  align-items: center;
  background-color: #f6f9fc;
  padding: 0 30px;
  border-radius: 5px;
  height: 6vh;
  margin-top: 5px;
}

.categories span {
  margin-right: 20px;
  font-size: 30px;
  margin-top: 10px;
}

.categories h4 {
  font-weight: 500;
  margin-top: 10px;
}
.categories h4 svg {
  margin-left: 10px;
}
.nav {
  display: flex;
  line-height: 8vh;
}

.nav li {
  padding: 0 30px;
  position: relative;
}
.nav li a {
  font-size: 16px;
  font-weight: 400;
  color: #1a1a1a;
  transition: 0.3s ease;
  &:hover,
  &.active {
    color: #088178;
  }
  &:hover::after,
  &.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: 25px;
    left: 30px;
  }
}
