.footer {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #071831;
  margin-top: 20px;
}
.footer_quick_link ul li {
  background: transparent;
}
.footer_quick_link ul a {
  color: rgba(255, 255, 255, 0.735);
}
.quick_link-title {
  margin-bottom: 20px;
  color: #fff;
  font-size: 15px;
}
.footer-contact li {
  color: rgba(255, 255, 255, 0.735);
}
